html,body{
    background: url("../image/note-bgr.jpg") no-repeat center 0 fixed;
    background-size: cover;
    background-color: #e9e9e9;
}
*{
    box-sizing: border-box;
}
/*  ========
	清除浮动
	=======
*/
.clearFix:before,
.clearFix:after{
    content:" ";
    display: table;
}

.clearFix:after{
    clear:both;
}

a{
    color:#333;
    text-decoration: none;
}
a:hover,a:active{
    color:#9593D9;
    text-decoration: underline;
}
.note-content-original a:hover{
    color:#9593D9;
}
.hide{
    display: none;
}

.note-container{
    width:100%;
    height:100%;
    border-top:1px solid rgba(255,255,255,1);
}

.note-container .note-top{
    width:100%;
    background: rgba(255,255,255,1);
    margin:0 auto 40px;
    padding:30px;
    display: table;
    text-align: center;
}
.note-container .note-top div{
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
}
.note-container .note-top div a{
    color:#9593D9;
}

.note-container .note-bottom{
    width:80%;
    min-height:100px;
    margin:10px auto;
    position:relative;
}

.note-container .note-bottom .note-timeLine{
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    border-right: 2px solid rgba(255,255,255,.9);
    padding: 10px 0;
}
.note-container .note-bottom .note-timeLine>div{
    padding: 0 10px 10px;
}
.note-container .note-bottom .note-timeLine .note-timeLine-year>div{
    padding: 10px 0;
}
.note-container .note-bottom .note-timeLine div{
    display: block;
    width:100%;
    height:100%;
    cursor: pointer;
}
.current{
    color:#9593D9
}
.note-container .note-bottom .note-content{
    width:80%;
    min-height:500px;
    position:relative;
    top:0;
    left:20%;
    background:url("../image/line.png") repeat-y left;
    padding-left:40px;
}
.note-container .note-bottom .note-content .note-content-item{
    width:40%;
    background: #fff;
    position:relative;
    border-radius: 3px;
    padding:15px;
    margin-bottom: 30px;
}
.note-container .note-bottom .note-content .note-content-item-left{
    float: left;
}

.note-container .note-bottom .note-content .note-content-item-right{
    float: left;
    margin-top:30px;
    margin-left:50px;
 }
.note-container .note-bottom .note-content .note-content-item .note-content-triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
    left:-10px;
    top:10px;
}
.note-container .note-bottom .note-content .note-content-item .note-content-point{
    position: absolute;
    width:15px;
    height:15px;
    background: #fff;
    left:-46px;
    top:12px;
    border-radius: 50%;
}
.note-container .note-bottom .note-content .note-content-item .note-content-title{
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}
.note-container .note-bottom .note-content .note-content-item .note-content-time{
    font-size: 16px;
    color: #aaa;
    margin-bottom: 10px;
}
.note-container .note-bottom .note-content .note-content-item .note-content-summary{
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
    line-height: 30px;
    text-indent: 32px;
}
.note-container .note-bottom .note-content .note-content-item .note-content-original{
    text-align: right;
}

#noteContent>div{
    margin-bottom:30px;
    position: relative;
}
#noteContent>.note-content-year{
    margin-bottom:20px;
    position: absolute;
    left:-53px;
}
.contentTpl_month{
    position: absolute;
    top: 10px;
    left: -70px;
    z-index: 10;
}
.note_content_year{
    position: absolute;
    top: 0;
    left: -100px;
}
.smallScreenShow{
    display: none;
}
@media screen and (max-width:960px){
    .note-container .note-bottom{
        width:90%;
    }
    .note-container .note-bottom .note-timeLine{
        width: 15%;
    }
    .note-container .note-bottom .note-content{
        left:23%;
        padding-left:30px;
    }
}
@media screen and (max-width:800px){
    .note-container .note-bottom{
        width:95%;
    }
    .note-container .note-bottom .note-timeLine{
        width: 15%;
    }
    .note-container .note-bottom .note-content{
        left:23%;
        padding-left:30px;
    }
}
@media screen and (max-width:700px){
    .smallScreenShow{
        display: block;
        text-align: center;
        padding: 50px;
        line-height: 30px;
    }
    .smallScreenHide{
        display: none;
    }
}